.book {
  border: 1px solid black;
}

body {
  background-color: #d6537b;
  color: #fffb9a;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  padding-top: 10px;
  padding-left: 10px;
}

h2 {
  background: -webkit-linear-gradient(#f578d3, #60eff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  display: inline;
}
h1,
h3 {
  font-size: 18px;
  text-align: center;
}

.display {
  box-sizing: border-box;
  width: 95%;
  height: 20px;
  text-align: right;
  border-bottom: 1px solid #303236;
  display: block;
  margin: auto 5px;
  padding-bottom: 35px;
  padding-right: 10px;
  font-size: 30px;
}

button {
  width: 100px;
  height: 30px;
  color: #fff;
  display: block;
  margin: 0 auto;
  background-color: #e39165;
  border: 0 solid #d66e6e;
  border-radius: 3%;
  transition: all 0.2s ease;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

button:hover {
  background-color: #fffb9a;
  color: #e39165;
}

.table td,
.table th {
  padding: 15px;
}

table {
  margin: 0 auto;
  background-color: #d66e6e;
  width: 700px;
}
table.form-table {
  width: 300px;
}

.table.hide {
  visibility: hidden;
}

.error.hide {
  display: none;
}
.error {
  text-align: center;
}
